footer {
    display: flex;
    margin-top: 40px;
}

.contact {
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 45px;
    width: 100%;
    margin-top: 5px;
    padding-top: 10px;
}
.number {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}
.socialMedia {
    display: flex;
    gap: 20px;
    font-size: 30px;
}
.contact-logo{
    display: flex;
    gap: 15px;
}
.contact-logo i{
    display: flex;
    align-items: center;
    font-size: 30px;
}

@media (min-width: 670px){
    .contact{
        flex-direction: row;
    }
}